#!/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

if logtail2 -o {{ logtail.offset_file }} {{ logtail.source_file }} > {{ logtail.output_file }}
then
  if [[ -s {{ logtail.output_file }} ]]
  then
    cd /opt/Access-Log-Parser/target
    {% for source in flume_agent.sources if source.type == 'spooldir' %}
    java -cp accesslog-parser-0.0.1-SNAPSHOT-jar-with-dependencies.jar com.dennyac.accesslogparser.Driver {{ logtail.output_file }} {{ source.spoolDir}}/{{ avro_file }}
    {% endfor %}
  fi
fi
